<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Jaldi&display=swap" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  </head>
  <body>
    <div class="v20_57">
      <div class="v20_58"></div>
      <div class="v20_59"></div>
      <a href="login">
        <button class="LoginAsUser">Log in as User</button>
      </a> 
      <a href="login">
        <button class="v20_60">Log in as Doctor</button>
      </a>
      <div class="v20_61"></div>
      <div class="v20_62">
        <div class="v20_63"></div>
        <div class="v20_64"></div>
        <span class="v20_65">If you are a doctor then signup and create your profile so that different patients can book your appointment to consult with you.</span>
        <a href = "doctorRegister">
          <button class="v20_67">sign up as doctor</button>
        </a>
        <span class="v20_68">For Doctors</span>
      </div>
      <div class="v20_69">
        <div class="v20_70"></div>
      </div>
      <div class="v20_71"></div>
      <span class="v20_72">If you have any health problem, then please signup and book your appointment by finding the best doctor according to your health problem...</span>
      <a href = "patientRegister">  
        <button class="v20_74">sign up as user</button>
      </a>
      <span class="v20_75">For Users</span>
      <div class="v20_76"></div>
      <div class="v20_77"></div>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
