<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/main.css" rel="stylesheet" />
  <title>Template Lama</title>
  <script src="https://kit.fontawesome.com/7044071874.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
    .content {
      margin-top: 200px;
      text-align: center;
    }
    .bi{
        font-size: 20pt;
        width: 20px;
        height: 20px;
        opacity: 1;
        position: relative;
        color: #4757ff;
        left: 110px;
        top: 5px;
    }
    .login {
      display: flex;
      height: 100vh;
    }
    .container-left {
      margin-top: 200px;
      margin-left: 100px;
      margin-right: 50px;
    }
    .image {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
  </style>
</head>

<body>
  <!-- Top Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" style="border-bottom: 2px solid #4757ff; color: #4757ff;">
    <div class="container-fluid" style="margin-left: 50px;">
      <a class="navbar-brand" style="border-color: #4757ff;" onclick="home()">
        <img src="/images/DClogo.png" style="width: 200px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" style="color: #4757ff;" onclick="userDetails()">Account Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="userMakeAppointment"style="color: #4757ff;">Make Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style="color: #4757ff;" onclick="userMyAppointment()">My Appointment</a>
          </li>
        </ul>
      </div>
      <div class="dropstart">
        <a class="nav-item" style="text-decoration: none;" onclick="userDetails()" >Hi, name</a>
      </div>
    </div>
  </nav>

  <!-- Content -->
  <div class="login d-flex" style="height: max-width;">
    <div class="container-left">
      <h1 style="color: #4757ff; font-size: 35pt;">Schedule an Appointment with Your Preferred Doctor!</h1>
      <p class="justify-content-center"style="color: #4757ff;width: 600px; padding-top:40px;">DocConnect is a cutting-edge web platform that brings doctors and patients together. With a user-friendly interface, we simplify the process of finding and connecting with the right healthcare professional. Discover a wide range of experienced doctors, schedule appointments, and enjoy secure virtual consultations. Join DocConnect today and revolutionize your healthcare experience.</p>
      <a href="userMakeAppointment">
        <button class="makeAppointment">Make Appointment</button>
      </a>
    </div>
    <div class="container-right" style="height: fit-content;">
      <img class="image" src="/images/sideImage.png" style="width: 100%; height: 950px;">
    </div> 
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>\
  <script>
    function show(anything){
        document.querySelector('.btn btn-secondary dropdown-toggle').value = anything;
    }

    let dropdown = document.querySelector('.dropdown');
    dropdown.onclick = function(){
        dropdown.classList.toggle('active');
    }

    function userDetails(){
      const patientId = JSON.parse(localStorage.getItem("dataLogin")).patient_id;
      window.location.href = '/views/userDetails/'+patientId;
    }

    function userMyAppointment(){
      const patientId = JSON.parse(localStorage.getItem("dataLogin")).patient_id;
      window.location.href = '/views/userMyAppointment/'+patientId;
    }

    function home(){
        window.location.href = '/views/user';
    }

  </script>
</body>

</html>
