<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./css/main.css" rel="stylesheet" />
  <title>Template Lama</title>
  <script src="https://kit.fontawesome.com/7044071874.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@600&display=swap');
    .content {
      margin-top: 200px;
      text-align: center;
    }
    .bi{
        font-size: 20pt;
        width: 20px;
        height: 20px;
        opacity: 1;
        position: relative;
        color: #4757ff;
        left: 110px;
        top: 5px;
    }
  </style>
</head>

<body>
  <!-- Top Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-white fixed-top" style="border-bottom: 2px solid #4757ff; color: #4757ff;">
    <div class="container" style="margin-left: 50px;">
      <a class="navbar-brand" style="border-color: #ffffff00;" href="#">
        <img src="images/DClogo.png" style="width: 200px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: #4757ff;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"style="color: #4757ff;">Schedule</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="MakeAppointment.html"style="color: #4757ff;">Make Appointment</a>
          </li>
        </ul>
      </div>
      <a class="nav-item" style="text-decoration: none;">Hi, name</a>
    </div>
  </nav>

  <!-- Content -->
  <div class="container">
    <div class="content">
        <div class="v194_21">
            <div class="v191_22"></div>
                <Div class="status" style="border-color: #4757ff;">Waiting Approvement</Div>
            <div class="v191_30">10 AM
            </div>
            <div class="v191_29">Monday
            </div>
            <div class="v191_28">Dr.X
            </div>
            <div class="v191_27">Sp.X
            </div>
            <span class="v191_33">Time</span>
            <span class="v191_32">Day</span>
            <span class="v191_31">Doctor</span>
            <span class="v191_26">Spesialist</span>
            <span class="v191_23">Make Appointment</span>
          </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>\
  <script>
    function show(anything){
        document.querySelector('.btn btn-secondary dropdown-toggle').value = anything;
    }

    let dropdown = document.querySelector('.dropdown');
    dropdown.onclick = function(){
        dropdown.classList.toggle('active');
    }
  </script>
</body>

</html>
